.home-container {
  padding: 20px;
  margin-left: 15%; /* Ensures content starts after the sidebar */
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

.form-container {
  background: #ebeaea;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input, select, button {
  padding: 10px;
  font-size: 14px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.task-table, .details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.task-table th, .task-table td, .details-table th, .details-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.line-container {
  display: flex;
  justify-content: flex-start; /* Aligns line to the left */
  align-items: center;
  width: 100%;
  margin: 40px 0;
}

.line {
  height: 3px;
  width: 50%; /* Adjust starting width */
  max-width: 600px;
  background: linear-gradient(to right, black, transparent);
}

.time-picker {
  position: relative;
  display: inline-block;
}

.time-display {
  padding: 11px;
  font-size: 14px;
  color: #070707;
  border: 1px solid #000000;
  background: #ffffff;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: flex;
  background: white;
  border: 1px solid #131313;
  padding: 5px;
  z-index: 10;
}

.column {
  max-height: 150px;
  overflow-y: auto;
  min-width: 50px;
}

.option {
  padding: 5px 10px;
  cursor: pointer;
}

.option:hover,
.selected {
  background: blue;
  color: white;
}

.small-datepicker {
  width: 110px;
  height: 30px;
  font-size: 14px;
  padding: 5px;
}

.center-placeholder {
  text-align: center;
  padding-left: 0px;
  padding-right: 15px;
  margin-right: 1px;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

.remove-btn:hover {
  background-color: darkred;
}


.submit-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-btn {
  background: linear-gradient(45deg, #007bff, #0bb3d4);
  color: white;
  font-size: 18px;
  padding: 12px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.submit-btn:hover {
  background: linear-gradient(45deg, #007bff, #007bff);
  transform: scale(1.05);
}

.submit-btn:active {
  transform: scale(0.98);
}


.info-container {
  display: flex;
  font-size: medium;
  color: brown;
  align-items: center;
  margin-top:10px;
}
