.sidebar {
  width: 12%;
  height: 60vh; /* Full height */
  position: fixed; /* Fixes the sidebar */
  top: 4;
  left: 0;
  background: #333;
  color: white;
  padding: 20px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow-y: auto; /* Enables scrolling if content overflows */
  z-index: 10; /* Ensures sidebar stays on top */
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar ul li {
  margin: -5px 0;
}

.sidebar ul li a {
  display: block; /* Makes the links take full width */
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background: #555;
}
